<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="AutoTest_Task1_UI">
        <classes>
            <class name="test.RiskDisclosureTest">
                <methods>
                    <include name="openRiskDisclousureDocument"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>